<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SomeGen-{% block title %}{% endblock %}</title>
    </head>
    <body>
        <top-bar class="nav">
            <a href="{% url 'index' %}">SomeGen</a>
            {% block nav %}{% endblock %}
        </top-bar>
        {% block content %}{% endblock %}
    </body>
    <script>
        document.body.appendChild(document.createElement('top-bar'))
    </script>
    <style>

    </style>
    {% block outbody %}{% endblock %}
</html>