<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SomeGen-{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="top-bar">
            <a href="{% url 'index' %}" style="float: left;">SomeGen</a>
            {% block nav %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    </body>

    <style>
        .top-bar {
            background: rgb(31, 64, 148);
            overflow: hidden; 
        }

        .top-bar a {
            float: right;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            color: white;
        }

        .top-bar a:hover {
            background-color: rgb(122, 180, 207);
            color: white;
        }
    </style>
    {% block outbody %}{% endblock %}
</html>